* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* O vh significa "viewport height" (altura da tela visível).
O que significa height: 100vh?
Isso faz com que o body ocupe 100% da altura da tela. */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

/* Container do login */
.login-container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 400px;
  width: 35%;
  text-align: center;
}

/* Logo */
.logo {
  width: 100px;
  margin-bottom: 20px;
}

/* Título */
h2 {
  margin-bottom: 20px;
  color:blueviolet
}

/* Inputs */
.input-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Botão */
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004494;
}

/* Link */
p {
  margin-top: 10px;
}

p a {
  text-decoration: none;
  color: #007bff;
}

p a:hover {
  text-decoration: underline;
}

div p .inicio {
  color: red;
}

.verde {
  margin-top: 20px;
  color: green;
}

.roxo {
  color: blueviolet;
}
/* 
Estiliza somente os elementos com a classe .inicio
Se estiverem dentro de um <p>
Que por sua vez esteja dentro de uma <div> */

p a {
  text-decoration: none;
  color: #007bff;
}

/* <p>
  <a href="#">Este link será estilizado</a>
</p>


<a href="#">Este link NÃO será estilizado</a>
<p>Texto normal</p> */